{% include "header.html" %}

<section id="login">
<div class="container-wide">
<div class="row">
<div class="col-md-6 col-sm-12 col-sm-12 pTB8 pricingInfo equal wow fadeIn" data-wow-duration="0.50s" data-wow-delay="0.25s">
<section class="mB3">
<h2>Login</h2>
<h6>Login to access your <strong>Norman</strong> Dashboard</h6>
<span class="seperator prime mT0">...</span>
<form action="#top" method="post" id="cForm">
<div class="form-group">
<label for="name">Email/Username</label>
<input type="text" id="name" name="name" class="form-control" placeholder="Enter your email or username" required />
</div>
<div class="form-group">
<label for="email">Password</label>
<input type="email" id="email" name="email" class="form-control" placeholder="Enter your password" required />
</div>
<a class="btn btn-prime line smooth" href="" id="doLogin" title="Login">Login<i class="pe-7s-angle-right"></i></a>
</form>
</section>
</div>
<div class="col-md-6 col-sm-12 col-sm-12 page-block-full pTB8 equal wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.25s">
<h2>Register</h2>
<h6>Create an account to start making the best use of <strong>Norman</strong></h6>
<span class="seperator prime mT0">...</span>
<div class="form-group">
<label for="name">Email</label>
<input type="email" id="emailReg" name="email" class="form-control" placeholder="Enter your email" />
</div>
<div class="form-group">
<label for="email">Password</label>
<input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" />
</div>
    <div class="form-group">
    </div>
    <a class="btn btn-prime line smooth"  id="doRegister" title="Login">Start Registration<i class="pe-7s-angle-right"></i></a>
     </div>

</div>
</div><div class="clear"></div>
</div>
</div>
</section>

{% include "footer.html" %}