{% extends "dashboard/layout/layout.html" %}
{% block title %}Password Reset{% endblock %}

{% block content %}

            <div class="content-page">
                <div class="content">
                    <div class="container">

        <div class="wrapper-page">
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Password Reset</h4>
                </div>
                <div class="panel-body">
                    <form method="post" action="" role="form" class="text-center">
						<div class="user-thumb">
							<img src="{{ url_for('static', filename='assets/images/users/hospital.png') }}" class="img-responsive img-circle img-thumbnail" alt="thumbnail">
						</div>
						<div class="form-group">
							<p class="text-muted m-t-10">
								The security of your data is our priority. Input your mail below and we will guide you through the process of securing your account.
							</p>
							<div class="input-group m-t-30">
								<input type="email" name="email" class="form-control" placeholder="Hospital Email" required="">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
										Reset
									</button>
								</span>
							</div>
						</div>

					</form>


                </div>
            </div>

        </div>
        <!-- end wrapper -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2017 © Norman Bot.
                </footer>

            </div>
{% endblock %}
