{% extends "dashboard/layout/layout.html" %}
{% block title %} - Password Reset{% endblock %}

{% block content %}

            <div class="content-page">
                <div class="content">
                    <div class="container">

        <div class="wrapper-page">
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Choose Password</h4>
                </div>
                <div class="panel-body">
                    <form method="post" action="" role="form" class="text-center">
						<div class="form-group">
							<p class="text-muted m-t-10">
								The security of your data is our priority.
                                Set your password by filling the boxes below.
                            </p>
							<div class="input-group m-t-10">
                                <label for="">New Password</label>
								<input type="password" name="password" class="form-control" placeholder="*******************" required="">
							</div>
                            <div class="input-group m-t-10">
                                <label for="">Repeat Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Repeat Password" required="">
							</div>
                            <div class="input-group m-t-30">
                                <span class="input-group-btn">
									<button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
										Enter
									</button>
								</span>
							</div>
						</div>

					</form>


                </div>
            </div>

        </div>
        <!-- end wrapper -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2017 © Norman Bot.
                </footer>

            </div>
{% endblock %}
