{% extends "dashboard/layout/layout.html" %}

{% block content %}

            <div class="content-page">
                <div class="content">
                    <div class="container">
<div class="row">
                            <div class="col-md-12">
                                <div class="card-box taskboard-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30 text-primary">Messages</h4>

                                    <ul class="list-unstyled task-list" id="drag-upcoming">
                                        <li>
                                            <div class="card-box kanban-box">
                                                <div class="checkbox-wrapper">
                                                    <div class="checkbox checkbox-success checkbox-single">
                                                        <input type="checkbox" id="singleCheckbox5" value="option2"
                                                                aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>

                                                <div class="kanban-detail">
                                                    <span class="label label-danger pull-right">20-6-17</span>
                                                    <h4><a href="#">Message Title</a> </h4>
                                                    <ul class="list-inline m-b-0">
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="5 Tasks">
                                                                <i class="zmdi zmdi-format-align-left"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="3 Comments">
                                                                <i class="zmdi zmdi-comment-outline"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                    <div class="text-center">
                                        <a href="#custom-modal" class="btn btn-default btn-md waves-effect waves-light"
                                           data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                            <i class="zmdi zmdi-plus"></i> Add New
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end col -->






                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2017 © Norman Bot.
                </footer>

            </div>
{% endblock %}
