{% extends "dashboard/layout/layout.html" %}

{% block content %}

     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="bg-picture card-box">
                                    <div class="profile-info-name">
                                        <img src="{{ url_for('static', filename='assets/images/profile.jpg') }}"
                                             class="img-thumbnail" alt="profile-image">

                                        <div class="profile-info-detail">
                                            <h3 class="m-t-0 m-b-0">Alexandra Clarkson</h3>
                                            <p class="text-muted m-b-20"><i>Web Designer</i></p>
                                            <p>Hi I"m Alexandra Clarkson,has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC.</p>

                                            <div class="button-list m-t-20">
                                                <button type="button" class="btn btn-facebook btn-sm waves-effect waves-light">
                                                   <i class="fa fa-facebook"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-twitter waves-effect waves-light">
                                                   <i class="fa fa-twitter"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-linkedin waves-effect waves-light">
                                                   <i class="fa fa-linkedin"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-dribbble waves-effect waves-light">
                                                   <i class="fa fa-dribbble"></i>
                                                </button>

                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!--/ meta -->



                                <form method="post" class="card-box">
                                    <span class="input-icon icon-right">
                                        <textarea rows="2" class="form-control" placeholder="Post a new message"></textarea>
                                    </span>
                                    <div class="p-t-10 pull-right">
                                        <a class="btn btn-sm btn-primary waves-effect waves-light">Send</a>
                                    </div>
                                    <ul class="nav nav-pills profile-pills m-t-10">
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-location-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class=" fa fa-camera"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-smile-o"></i></a>
                                        </li>
                                    </ul>

                                </form>
                                <div class="card-box">
                                    <div class="comment">
                                        <img src="{{ url_for('static', filename='assets/images/users/avatar-1.jpg') }}" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">Adam Jansen</a><span>about 2 minuts ago</span>
                                                </div>
                                                Story based around the idea of time lapse, animation to post soon!

                                                <div class="m-t-15">
                                                    <a href="#">
                                                        <img src="{{ url_for('static', filename='assets/images/small/img1.jpg') }}" class="thumb-md">
                                                    </a>
                                                    <a href="#">
                                                        <img src="{{ url_for('static', filename='assets/images/small/img2.jpg') }}" class="thumb-md">
                                                    </a>
                                                    <a href="#">
                                                        <img src="{{ url_for('static', filename='assets/images/small/img3.jpg') }}" class="thumb-md">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>

                                        <div class="comment">
                                            <img src="{{ url_for('static', filename='assets/images/users/avatar-2.jpg') }}" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-text">
                                                    <div class="comment-header">
                                                        <a href="#" title="">John Smith</a><span>about 1 hour ago</span>
                                                    </div>
                                                    Wow impressive!
                                                </div>
                                                <div class="comment-footer">
                                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comment">
                                            <img src="{{ url_for('static', filename='assets/images/users/avatar-3.jpg') }}" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-text">
                                                    <div class="comment-header">
                                                        <a href="#" title="">Matt
                                                            Cheuvront</a><span>about 2 hours ago</span>
                                                    </div>
                                                    Wow, that is really nice.
                                                </div>
                                                <div class="comment-footer">
                                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>

                                            <div class="comment">
                                                <img src="{{ url_for('static', filename='assets/images/users/avatar-4.jpg') }}" alt="" class="comment-avatar">
                                                <div class="comment-body">
                                                    <div class="comment-text">
                                                        <div class="comment-header">
                                                            <a href="#" title="">Stephanie
                                                                Walter</a><span>3 hours ago</span>
                                                        </div>
                                                        Nice work, makes me think of The Money Pit.
                                                    </div>
                                                    <div class="comment-footer">
                                                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img src="{{ url_for('static', filename='assets/images/users/avatar-1.jpg') }}" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">Kim Ryder</a><span>about 4 hours ago</span>
                                                </div>
                                                i"m in the middle of a timelapse animation myself! (Very different
                                                though.) Awesome stuff.
                                            </div>
                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img src="{{ url_for('static', filename='assets/images/users/avatar-7.jpg') }}" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">Nicolai Larson</a><span>10 hours ago</span>
                                                </div>
                                                the parallax is a little odd but O.o that house build is awesome!!
                                            </div>
                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-t-30 text-center">
                                        <a href="#" class="btn btn-default waves-effect waves-light btn-sm">Load More...</a>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">My Team Members</h4>

                                    <ul class="list-group m-b-0 user-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="{{ url_for('static', filename='assets/images/users/avatar-2.jpg') }}" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Michael Zenaty</span>
                                                    <span class="desc">CEO</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="{{ url_for('static', filename='assets/images/users/avatar-3.jpg') }}" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">James Neon</span>
                                                    <span class="desc">Web Designer</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="{{ url_for('static', filename='assets/images/users/avatar-5.jpg') }}" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">John Smith</span>
                                                    <span class="desc m-b-0">Web Developer</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="{{ url_for('static', filename='assets/images/users/avatar-6.jpg') }}" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Michael Zenaty</span>
                                                    <span class="desc">Programmer</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="{{ url_for('static', filename='assets/images/users/avatar-1.jpg') }}" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Mat Helme</span>
                                                    <span class="desc">Manager</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i> My Reminders</h4>

                                    <ul class="list-group m-b-0 user-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-primary"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Meet Manager</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-success"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Project Discussion</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-pink"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Meet Manager</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Project Discussion</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-danger"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Meet Manager</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>



                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2016 - 2017 © Adminto.
                </footer>

            </div>

{% endblock %}