{% extends 'dashboard/layout/layout.html' %}


{% block content %}
            <div class="content-page">
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="timeline">
                                    <article class="timeline-item alt">
                                        <div class="text-right">
                                            <div class="time-show first">
                                                <a href="#" class="btn btn-custom w-lg">Record Of Service Used</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon bg-danger"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-danger">1 hour ago</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Reminder service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item ">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-success"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-success">2 hours ago</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>
                                                        You used Emergency service via the bot on Facebook Messenger
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon bg-primary"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-primary">10 hours ago</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Reminder service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-purple"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-purple">14 hours ago</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used booking/appointment service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-muted">19 hours ago</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Reminder service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-item alt">
                                        <div class="text-right">
                                            <div class="time-show">
                                                <a href="#" class="btn btn-custom w-lg">Yesterday</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-warning"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-warning">07 April 2017</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used appointment service via the bot on Facebook Messenger</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon bg-primary"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-primary">07 April 2017</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Emergency service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-item">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-success"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-success">07 April 2017</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Reminder service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item alt">
                                        <div class="text-right">
                                            <div class="time-show">
                                                <a href="#" class="btn btn-custom w-lg">Last Month</a>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-muted">31 April 2017</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>You used Emergency service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-item">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-danger"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-danger">16 April 2017</h4>
                                                    <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                    <p>JYou used Reminder service via the bot on Facebook Messenger</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    2017 © Norman.
                </footer>

            </div>

{% endblock %}