{% extends "dashboard/layout/layout.html" %}

{% block content %}
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box task-detail">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('dashboard.edit_hospital_profile') }}">Edit Hospital Details</a></li>
                                        </ul>
                                    </div>
                                    <div class="media m-b-20">
                                        <div class="">
                                            <a href="#"> <img class="media-object img-circle center-block" alt="Hospital Name" src="{{ url_for('static', filename='assets/images/users/hospital.png') }}" style="width: 110px; height: 110px;"> </a>
                                        </div>
                                        <div class="media-body text-center">

                                            <h4 class="media-heading m-b-0">{{ hospital.name }}</h4>
                                            <span class="label label-danger">{{ hospital.reg_num }}</span>
                                        </div>
                                    </div>

                                    <ul class="list-inline  m-b-0 m-t-15 text-center">
                                        <li>
                                            <h5 class="font-600 m-b-3">Email</h5>
                                            <button class="btn btn-info"> {{ hospital.email }}</button>
                                        </li>
                                        <li>
                                            <h5 class="font-600 m-b-4">Status</h5>
                                            <button class="btn btn-info">Active</button>
                                        </li>
                                    </ul>

                                    <br><br>

                                    <h4 class="font-600 m-b-20 text-center">Hospital Description</h4>

                                    <p class="text-muted">
                                        {{ hospital.description }}
                                    </p>


                                    <div class="clearfix"></div>

                                     <div class="task-tags m-t-20 text-center">
                                         <h5 class="font-600">Specialties</h5>
                                         <ul class="list-inline">
                                             <li class="btn btn-info">Appointment</li>
                                             <li class="btn btn-info">Ambulance</li>
                                             <li class="btn btn-info">Prescription</li>
                                             <li class="btn btn-info">Diagnosis</li>
                                             <li class="btn btn-info">Inventory</li>
                                             <li class="btn btn-info">Emergency</li>
                                         </ul>
                                    </div>

                                    <div class="assign-team m-t-30 text-center">
                                        <h5 class="font-600 m-b-5">Address</h5>
                                        <div>
                                            <p>
                                                {{ hospital.address}}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="attached-files m-t-30">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-right m-t-30">
                                                    <a href="{{ url_for('dashboard.edit_hospital_profile') }}" class="btn btn-success waves-effect waves-light">
                                                        Make Changes
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                   2017 Norman Bot
                </footer>

            </div>
{% endblock %}