<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="{{ url_for('static', filename='landing/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/pagenav.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.scrollTo.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/revolution.min.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.fancybox-media.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/owl.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/wow.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/validate.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/script.js') }}"></script>


</body>

</html>