    <!--Contact Section-->
    <section class="contact-section" id="contact-section">


    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Get In Touch</h3>
                        <div class="text">Got an information or a question about the platform you'd like to share?</div>
                        <ul class="contact-info">
                        	<li><div class="icon"><span class="lnr lnr-map-marker"></span></div>Ilab, Department of Electronics Electrical Engineering,
                                Obafemi Awolowo University.</li>
                            <li><div class="icon"><span class="lnr lnr-phone-handset"></span></div> (+234) 9036671876</li>
                            <li><div class="icon"><span class="lnr lnr-envelope"></span></div> bot.normanai@gmail.com</li>
                        </ul>

                        <!--Social Links One-->
                        <ul class="social-links-one clearfix">
                        	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>

                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Leave A Message</h3>
                        <!--Contact Form-->
                        <div class="default-form contact-form">
                            <form method="post" action="http://effortthemes.com/html/meson/meson/blue-version/sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    	<input type="text" name="username" value="" placeholder="Name" required>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    	<input type="text" name="email" value="" placeholder="Email" required>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<textarea name="message" placeholder="Message"></textarea>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<button type="submit" class="theme-btn btn-style-three">Send</button>
                                    </div>

                                </div>

                            </form>
                        </div><!--End Contact Form-->

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="{{ url_for('static', filename='landing/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/pagenav.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.scrollTo.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/revolution.min.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/jquery.fancybox-media.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/owl.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/wow.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/validate.js') }}"></script>
<script src="{{ url_for('static', filename='landing/js/script.js') }}"></script>


</body>

</html>