{% include 'header.html' %}
<section id="slider" class="noBG">
<div id="homeSlider" class="carousel carousel-fade slide" data-ride="carousel">

<div class="carousel-inner" role="listbox">

<div class="item active">
<div class="col-md-4 col-md-offset-1 col-sm-5 col-xs-12 text-right" data-animation="animated bounceInLeft">
<div class="img">
<img class="img-responsive" src="{{ url_for('static', filename='landing/images/Norman.png') }}"  width="500" height="10"  alt="...">
</div>
</div>
<div class="carousel-caption col-md-7 col-sm-7 col-xs-12" data-animation="animated bounceInRight">
<div class="iconBox round">
<i class="pe-7s-diamond"></i>
</div>
<h2>What happens when your patient leaves your <strong>hospital</strong>?</h2>
<span class="seperator">...</span>
<p class="big">Norman is an AI powered medical bot that provides the best medical assistance to your patients.
    Norman uses the power of Machine Learning and Artificial Intelligence to keep track of patient data beyond being in the hospital.
    You're with your patients at all times.
</p>
<a class="btn btn-prime line smooth" href="#features" title="Explore">Explore Features<i class="pe-7s-angle-right"></i></a>
<a class="btn btn-dark line smooth" href="#download" title="Download">Get Started <i class="pe-7s-angle-right"></i></a>
</div>
</div>

</div>


</div>
</section>


<section id="features" class="BGlight pTB8 wow fadeIn">
<div class="container-wide">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<img class="img-responsive mT5" src="{{ url_for('static', filename='landing/images/Norman_Logo.png') }}" width="380" height="402" alt="Foxy App"/>
</div>
<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
<div class="col-lg-12">
<h2>Awesome Norman <strong>Features</strong></h2>
<span class="seperator prime mT0">...</span>
<h6>Your patients are the primary focus of Norman and as such <strong>Norman</strong><br>offers the following features to help you monitor them better.</h6>
</div> <div class="clear"></div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-science"></i>
<h6>Intuitive Design</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-albums"></i>
<h6>Pre-made Themes</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-battery"></i>
<h6>Battery Friendly</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-expand1"></i>
<h6>Responsive Media</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-paint-bucket"></i>
<h6>Color Options</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equal">
<i class="pe-7s-micro"></i>
<h6>Voice Supported</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique.</p>
</div>
</div>
</div>
</div>
</section>


<section id="stat" class="">
<div class="container-wide">
<div class="row">
<div class="col-md-4 col-md-push-4 col-sm-4 col-xs-12 pTB8 statImg BGprime equal">
<img class="img-responsive" src="{{ url_for('static', filename='landing/images/Norman.png') }}" width="400" height="658" alt=""/>
</div>
<div class="col-md-4 col-md-pull-4 col-sm-6 col-xs-12 equal pTB8 counter wow fadeIn">
<div class="text-center">
<h2><strong>Norman</strong> Statistics</h2>
<span class="seperator prime mT0">...</span>
</div>
<div class="stat">
<div class="info">
<h6>Downloads</h6>
<p>Foxy is donwloaded more than 150K users for android and iOS mobile devices. Lorem best app.</p>
</div>
<div class="circle">
<div><h1 class="timer" data-from="0" data-to="150000" data-speed="1500"></h1></div>
</div> <div class="clear"></div>
</div>
<div class="stat">
<div class="info">
<h6>Active Users</h6>
<p>Foxy is currently being used by those many number of active users. Its a popular app.</p>
</div>
<div class="circle">
<div><h1 class="timer" data-from="0" data-to="3500" data-speed="1500"></h1></div>
</div> <div class="clear"></div>
</div>
<div class="stat">
<div class="info">
<h6>Loved By</h6>
<p>Foxy is really loved by so many users across the globe. Lorem ipsum dolar sit amet lorem ipsum.</p>
</div>
<div class="circle">
<div><h1 class="timer" data-from="0" data-to="1000000" data-speed="1500"></h1></div>
</div> <div class="clear"></div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12 pTB8 equal pieChart wow fadeIn">
<div class="text-center">
<h2><strong>Norman</strong> Score</h2>
<span class="seperator prime mT0">...</span>
</div>
<div class="stat">
<div class="chart" data-percent="97">97%</div>
<div class="info">
<h6>Performance</h6>
<p>Foxy is one of the fastest operating mobile application rated by its users. Lorem ipsum dolar sit amet.</p>
</div> <div class="clear"></div>
</div>
<div class="stat">
<div class="chart" data-percent="89">89%</div>
<div class="info">
<h6>Data Syncing</h6>
<p>It’s data syncing process is fast and smooth. Seamless interactions between server and device.</p>
</div> <div class="clear"></div>
</div>
<div class="stat">
<div class="chart" data-percent="80">80%</div>
<div class="info">
<h6>Memory Friendly</h6>
<p>Foxy is a memory friendly app for your device. Foxy never lets your device heat up while its running.</p>
</div> <div class="clear"></div>
</div>
</div>
</div>
</div>
</section>


<section id="video" class="pTB8 BGlight opaque">
<div class="container-wide">
<div class="row">
<div class="textBox">
<div class="playIcon">
<a class="icon start" href="https://www.youtube.com/embed/e452W2Kj-yg" title="Watch Now">
<i class="iPlay pe-7s-play"></i>
<i class="iClose pe-7s-close"></i>
</a>
</div>
<div class="content">
<h4 class="m0">Demo Video</h4>
    <p>What better way to experience the power of Norman than watching it at work.</p>
</div> <div class="clear"></div>
</div>
<div class="videoBox">
</div> <div class="clear"></div>
</div>
</div>
</section>

<section id="pricing">
<div class="container-wide">
<div class="row">
<div class="col-md-6 col-sm-12 col-sm-12 pTB8 pricingInfo equal wow fadeIn" data-wow-duration="0.50s" data-wow-delay="0.25s">
<section class="mB3">
<h2><strong>Pricing</strong> Plans</h2>
<span class="seperator prime mT0">...</span>
<h4 class="prime">Pricing Plan Short Description</h4>
<p>Pricing Plan Long Description</p>
</section>
</div>
<div class="col-md-6 col-sm-12 col-sm-12 page-block-full pTB8 equal wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.25s">

<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class=""><a href="#one" role="tab" data-toggle="tab">Demo Run</a></li>
<li role="presentation" class="active"><a href="#two" role="tab" data-toggle="tab">Starter</a></li>
<li role="presentation"><a href="#three" role="tab" data-toggle="tab">Professional</a></li>
</ul>

<div class="tab-content">

<div role="tabpanel" class="tab-pane fade" id="one">
<div class="plan">
<h1><sup>&#8358;</sup> 0.00 <small>/ month</small></h1>
<ul class="simple paddingM">
<li><strong>File Storage</strong> 20GB</li>
<li><strong>Database Storage</strong> 2GB</li>
<li><strong>Bandwidth</strong> 5GB/month</li>
<li><strong>Memory Limit</strong> 512MB</li>
<li><strong>Email Support</strong> <i class="pe-7s-check"></i></li>
<li><strong>Phone Support</strong> <i class="pe-7s-close"></i></li>
<li><strong>Backups</strong> <i class="pe-7s-close"></i></li>
</ul>
<div class="text-right">
<p class="big">...It"s <strong class="prime">Free</strong> <a class="btn btn-dark line" href="#" title="Sign Up Now">Sign Up Now <i class="pe-7s-angle-right"></i></a> </p>
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane fade in active" id="two">

<div class="plan">
<h1><sup>&#8358;</sup> 0.00 <small>/ month</small></h1>
<ul class="simple paddingM">
<li><strong>File Storage</strong> 20GB</li>
<li><strong>Database Storage</strong> 2GB</li>
<li><strong>Bandwidth</strong> 5GB/month</li>
<li><strong>Memory Limit</strong> 512MB</li>
<li><strong>Email Support</strong> <i class="pe-7s-check"></i></li>
<li><strong>Phone Support</strong> <i class="pe-7s-close"></i></li>
<li><strong>Backups</strong> <i class="pe-7s-close"></i></li>
</ul>
<div class="text-right">
<p class="big">...It"s <strong class="prime">Free</strong> <a class="btn btn-dark line" href="#" title="Sign Up Now">Sign Up Now <i class="pe-7s-angle-right"></i></a> </p>
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane fade" id="three">
<div class="plan">
<h1><sup>&#8358;</sup> 149.00 <small>/ month</small></h1>
<ul class="simple paddingM">
<li><strong>File Storage</strong> 50GB</li>
<li><strong>Database Storage</strong> 5GB</li>
<li><strong>Bandwidth</strong> 10GB/month</li>
<li><strong>Memory Limit</strong> 1GB</li>
<li><strong>Email Support</strong> <i class="pe-7s-check"></i></li>
<li><strong>Phone Support</strong> <i class="pe-7s-check"></i></li>
<li><strong>Backups</strong> <i class="pe-7s-close"></i></li>
</ul>
<div class="text-right">
<p class="big">...Are you <strong class="prime">convinced</strong>, yet? <a class="btn btn-sec line" href="#" title="Sign Up Now">Sign Up Now <i class="pe-7s-angle-right"></i></a> </p>
</div>
</div>
</div>

</div>
</div><div class="clear"></div>
</div>
</div>
</section>

<section id="faq" class="pTB8 BGlight">
<div class="container-wide">
<h2>FAQ</h2>
<span class="seperator prime mT0">...</span>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0.50s" data-wow-delay="0.50s">
<div class="panel-group text-left" id="category1" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category1" href="#cat1_1"><span></span>Lorem ipsum dolor sit amet? </a> </h6>
</div>
<div id="cat1_1" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category1" href="#cat1_2"><span></span>Nulla hendreit vitae consequat? </a> </h6>
</div>
<div id="cat1_2" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category1" href="#cat1_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h6>
</div>
<div id="cat1_3" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default ">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category1" href="#cat1_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h6>
</div>
<div id="cat1_4" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category1" href="#cat1_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h6>
</div>
<div id="cat1_5" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.50s">
<div class="panel-group text-left" id="category2" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category2" href="#cat2_1"><span></span>Lorem ipsum dolor sit amet? </a> </h6>
</div>
<div id="cat2_1" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category2" href="#cat2_2"><span></span>Nulla hendreit vitae consequat? </a> </h6>
</div>
<div id="cat2_2" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category2" href="#cat2_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h6>
</div>
<div id="cat2_3" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default ">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category2" href="#cat2_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h6>
</div>
<div id="cat2_4" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h6 class="panel-title"> <a data-toggle="collapse" data-parent="#category2" href="#cat2_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h6>
</div>
<div id="cat2_5" class="panel-collapse collapse">
<div class="panel-body"> <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
</div>
</div>
</div>
</div>
</div>
<div class="clear"></div>
<p class="col-md-12 mT3 text-right">More Questions? <a class="btn btn-sec line smooth" href="#contact" title="Contact Us">Contact Us <i class="pe-7s-angle-right"></i></a> </p>
</div>
</div>
</section>

<section id="support" class="text-center pTB8">
<div class="container-wide">
<div class="row wow fadeIn">
<h2>Impeccable <strong>Support</strong></h2>
<span class="seperator prime mT0">...</span>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="iconBox round">
<i class="pe-7s-mail"></i>
</div>
    Write to Us<h6>info@normanbot.ai</h6>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="iconBox round">
<i class="pe-7s-phone"></i>
</div>
Connect with Us<h6>+234 90 36671876</h6>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="iconBox round">
<i class="pe-7s-headphones"></i>
</div>
Chat with Us<h6>@NormanAI</h6>
</div> <div class="clear"></div>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 mT6 subscribe">
<h6>Subscribe to Our <strong>Newsletter</strong></h6>
<small>Receive emails of Norman updates and upcoming features</small>
<form action="http://www.saptarang.org/premium/html/foxy/02/form/subscribe.php" id="subscribeForm" method="post">
<div class="form-row">
<div class="form-group">
<input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control" placeholder="Enter Your Email Address Here..."/>
</div>
<div class="form-group">
<input type="text" id="sub-security" name="sub-security" class="form-control hide" value=""/>
</div>
<div class="form-group submit">
<input type="submit" id="sub-submit" name="sub-submit" value="Subscribe" class="btn btn-sec"/>
</div>
</div>
</form>
</div>
</div>
</div>
</section>



<footer id="contact" class="BGdark noImg" data-stellar-background-ratio="0.3">
<section>
<div id="map_canvas" class="col-lg-7 col-md-6 col-sm-12 col-xs-12"></div>

<div class="contactBox col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="0.85s" data-wow-delay="0.25s">
<h3 class=" mT3"><strong>Connect</strong> With Us</h3>
<span class="seperator prime mT0">...</span>
<p class="white">Got a question or a suggestion?<br>
Send us a message.</p>

<div class="contact BGdark">
<div class="cfs_response"></div>
<form action="#top" method="post" id="cForm">
<div class="form-group">
<input type="text" id="name" name="name" class="form-control" placeholder="" required />
<label for="name">Name</label>
</div>
<div class="form-group">
<input type="email" id="email" name="email" class="form-control" placeholder="" required />
<label for="email">Email</label>
</div>
<div class="form-group">
<textarea cols="50" rows="5" id="message" name="message" class="form-control" placeholder="" required></textarea>
<label for="message">Message</label>
</div>
<div class="row validate">
<div class="col-md-8 col-sm-7 col-xs-12">
<small>Swipe here  |</small>
<div id="cfSlide"></div>
<input type="hidden" id="cfsVal" value=""/>
</div>
<div class="col-md-4 col-sm-5 col-xs-12 text-right">
<div class="form-group submit">
<input type="button" id="cfSubmit" name="cfSubmit" disabled="disabled" value="send" class="btn btn-white line"/>
</div>
</div>
</div>
</form>
</div>
</div> <div class="clear"></div>
</section> <div class="clear"></div>
</footer>


{% include 'footer.html' %}