{% include 'header.html' %}

<section class="main-slider" id="banner" data-start-height="920" data-slide-overlay="yes"
>

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/medical-image.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{{ url_for('static', filename='landing/images/medical-image.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Monitor patient health activity<br>from Social Media.</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="30"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text"> Norman uses artificial intelligence<br> to keep track of patient data beyond the hospital.
                                                    <br> It gives you the power to be with your patients at all times.

                                        </div></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                        <a href="{{ url_for('dashboard.login') }}" class="theme-btn btn-style-one"><span class="icon icon-left lnr lnr-smartphone"></span>Get Started</a></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="right" data-hoffset="-15"
                    data-y="center" data-voffset="80"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><figure class="image"><img src="{{ url_for('static', filename='landing/images/norman-android.png') }}" alt=""></figure></div>

                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{{ url_for('static', filename='landing/images/main-slider/image-2.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Provide instant medical help <br/> and advice to your patients.<br></h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="30"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Norman provides your patients with a seamless platform to get <br/> the best of medical advice
                    straight from their mobile phone.</div></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="{{ url_for('dashboard.login') }}" class="theme-btn btn-style-one"><span class="icon icon-left lnr lnr-smartphone"></span>Get Started</a></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="right" data-hoffset="-50"
                    data-y="bottom" data-voffset="50"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><figure class="image">
                    </figure></div>

                    </li>

                    <li class="video-slide" data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">

                    <img src="{{ url_for('static', filename='landing/images/hospital-image.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="-110"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text-center"><h2>Seamlessly manage, provide assistance and <br/> keep track patient health activities. </h2></div></div>

                        <br>
                    <div class="tp-caption sft sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="-50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text text-center">Click to watch a quick video.</div></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text-center"><a href="https://www.youtube.com/watch?v=IcsQ4PfnqCo" class="lightbox-image video-btn"></a></div></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="170"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="{{ url_for('dashboard.login') }}" class="theme-btn btn-style-three">Get Started</a></div>

                    </li>
                </ul>

            </div>
        </div>
    </section>
  	<!--End Main Slider-->

    <!--Features Section--->
    <section class="features-section-one" id="features-section">
    	<div class="auto-container">
        	<!--Title-->
        	<div class="sec-title centered">
            	<h2>Amazing Features</h2>
                <div class="desc-text">Your patients health are the primary focus of Norman.<br>
                                       Norman has the following features to help you keep track of it.</div>
            </div>

            <div class="row clearfix">
            	<!--Column-->
                <div class="column pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <!--Info BLock-->
                    {% for feature, description in config.NORMAN_FEATURES_LEFT.items() %}
                    <div class="info-block-two wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h3>{{ feature }}</h3>
                            <div class="text">{{ description }}</div>
                        </div>
                    </div>
                    {% endfor %}

                    </div>
                        <!--Image Column-->
                <div class="image-column col-lg-4 col-md-12 col-sm-12 col-xs-12">
                	<figure class="image-box wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{{ url_for('static', filename='landing/images/norman-android.png') }}" height="600px;" alt=""></figure>
                </div>
                <div class="column pull-right col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <!--Info BLock-->
                    {% for feature, description in config.NORMAN_FEATURES_RIGHT.items() %}
                    <div class="info-block-two wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h3>{{ feature }}</h3>
                            <div class="text">{{ description }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--Fullwidth Section Two-->
    <section class="fullwidth-section-two" id="how-it-works">
    	<div class="outer clearfix">
        	<!--Image Column-->
            <div class="image-column">
            	<figure class="image"><img src="{{ url_for('static', filename='landing/images/resource/fluid-image-2.jpg') }}" alt=""></figure>
                <a href="https://www.youtube.com/watch?v=IcsQ4PfnqCo" class="lightbox-image video-link">
                	<div class="inner">
                    	<div class="icon"></div><div class="text">Play the Video</div>
                    </div>
                </a>
            </div>

            <!--Content Column-->
            <div class="content-column">
            	<div class="clearfix">
                	<div class="content-box">
                    	<div class="sec-title"><h2>How Norman works</h2></div>
                        <div class="text-content">
                        	<div class="text">Curious how it all works? <br> Watch this video to understand more.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Pricing Section-->
    <section class="pricing-section" id="pricing-section">
    	<div class="auto-container">
        	<!--Title-->
        	<div class="sec-title centered">
            	<h2>Pricing Table</h2>
                <div class="desc-text">Norman currently offers 3 plans which are detailed below</div>
            </div>

            <div class="row clearfix">
            	<!--Price COlumn-->
                <div class="price-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="price-header">
                        	<h3 class="plan-title">Demo</h3>
                            <div class="price"> &#8358;0</div>
                            <div class="duration">for 2 weeks</div>
                        </div>
                        <ul class="specs-list">
                                                <li>2 Free Services</li>
                                                <li>2 Paid Services</li>
                                                <li>Data Analysis For 1 patient</li>
                                                <li>Data Monitoring For 1 patients</li>
                                                <li>24x7 Support</li>
                        </ul>
                        <div class="link-box"><a href="#" class="theme-btn btn-style-two">More Information</a></div>
                    </div>
                </div>
                <!--Price COlumn-->
                <div class="price-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    	<div class="price-header">
                        	<h3 class="plan-title">Professional</h3>
                            <div class="price"> &#8358;10000</div>
                            <div class="duration">per month</div>
                        </div>
                        <ul class="specs-list">
                                                <li>All Free Services</li>
                                                <li>All Paid Services</li>
                                                <li>Data Analysis For all patients</li>
                                                <li>Data Monitoring For all patients</li>
                                                <li>24x7 Support</li>
                        </ul>
                        <div class="link-box"><a href="#" class="theme-btn btn-style-two">More Information</a></div>
                    </div>
                </div>
                <!--Price COlumn-->
                <div class="price-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<div class="price-header">
                        	<h3 class="plan-title">Starter</h3>
                            <div class="price"> &#8358;5000</div>
                            <div class="duration">per month</div>
                        </div>
                        <ul class="specs-list">
                                                <li>5 Free Services</li>
                                                <li>5 Paid Services</li>
                                                <li>Data Analysis For 5 patients</li>
                                                <li>Data Monitoring For all patients</li>
                                                <li>24x7 Support</li>
                        </ul>
                        <div class="link-box"><a href="#" class="theme-btn btn-style-two">More Information</a></div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--FAQs Section-->
    <section class="faqs-section" id="faqs-section">
    	<div class="auto-container">
        	<!--Title-->
        	<div class="sec-title centered">
            	<h2>Frequently Asked Questions</h2>
                <div class="desc-text">Here are answers to some of the most asked question about Norman..</div>
            </div>
        </div>

        <div class="outer-box clearfix">
        	<!--Content Column-->
            <div class="content-column">
            	<div class="clearfix">
                	<div class="content-box">
                    	<!--Accordion Box-->
                    <ul class="accordion-box">

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon fa fa-angle-down"></span>
                            </div> 1.What exactly is Norman?</div>
                            <div class="acc-content current">
                                <div class="content"><p>Norman is an artificial intelligence powered platform that helps medical facilities(hospitals) keep track
                                    and provide ready to use medical assistance to their patients straight from social media.</p></div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-down"></span> </div> 2.What social media platforms are supported now?</div>
                            <div class="acc-content">
                                <div class="content"><p>Norman currently only works with the facebook messenger.
                                                However, the team behind Norman is continuously working to expand so it will in no time expand to all other platforms. </p></div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-down"></span>
                            </div> 3.Is the platform only for hospitals?</div>
                            <div class="acc-content">
                                <div class="content"><p>The platform majorly relies on the patient(user) being registered to an hospital.
                                As such, a use can only enjoy the best of the platform only if he/she is registered to a hospital.
                                However, Norman has some other awesome medical related features for users that aren't registered to a hospital.</p></div>
                            </div>
                        </li>

                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-down"></span>
                            </div> 4. What services does Norman currently offer to hospitals?</div>
                            <div class="acc-content">
                                <div class="content"><p>
                                    To view a full list of services currently available, visit <a href="">here</a></p></div>
                            </div>
                        </li>


                    </ul><!--End Accordion Box-->
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column" style="background-image:url(images/background/fluid-image-3.jpg);">
            	<figure class="image"><img src="{{ url_for('static', filename='landing/images/resource/fluid-image-3.jpg') }}" alt=""></figure>
            </div>
        </div>

    </section>

    <!--Newsletter Section-->
    <section class="newsletter-section">
    	<div class="auto-container">
        	<!--Title-->
        	<div class="sec-title centered">
            	<h2>Subscribe Today</h2>
                <div class="desc-text">Enter your email below to subscribe to their latest updates and feature addition to Norman</div>
            </div>

            <!--Newsletter Style One-->
            <div class="newsletter-style-one">
                <form method="post" action="">
                    <div class="form-group">
                        <input type="email" name="text" value="" placeholder="Your email address" required>
                        <button type="submit" class="theme-btn">Subscribe</button>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <!--Contact Section-->
    <section class="contact-section" id="contact-section">


    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Get In Touch</h3>
                        <div class="text">Got an information or a question about the platform you'd like to share?</div>
                        <ul class="contact-info">
                        	<li><div class="icon"><span class="lnr lnr-map-marker"></span></div>Ilab, Department of Electronics Electrical Engineering,
                                Obafemi Awolowo University.</li>
                            <li><div class="icon"><span class="lnr lnr-phone-handset"></span></div> (+234) 9036671876</li>
                            <li><div class="icon"><span class="lnr lnr-envelope"></span></div> normanai@gmail.com</li>
                        </ul>

                        <!--Social Links One-->
                        <ul class="social-links-one clearfix">
                        	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>

                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Leave A Message</h3>
                        <!--Contact Form-->
                        <div class="default-form contact-form">
                            <form method="post" action="http://effortthemes.com/html/meson/meson/blue-version/sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    	<input type="text" name="username" value="" placeholder="Name" required>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    	<input type="text" name="email" value="" placeholder="Email" required>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<textarea name="message" placeholder="Message"></textarea>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<button type="submit" class="theme-btn btn-style-three">Send</button>
                                    </div>

                                </div>

                            </form>
                        </div><!--End Contact Form-->

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

{% include 'footer.html' %}