{% include 'header.html' %}

  <section style=" height:0%;" class="main-slider" id="banner">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/medical-image.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{{ url_for('static', filename='landing/images/medical-image.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                     <div class="tp-caption sfl sfb tp-resizeme col-sm-12 col-xs-12"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="30"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">
                    <h2 style="text-align-all:center;" class="text-center">PRIVACY POLICY</h2>
                </div></div>
                    </li>
                </ul>

            </div>
        </div>
    </section>

<section class="faqs-section" id="faqs-section">
    	<div class="auto-container">
        	<!--Title-->
        	<div class="sec-title centered">
            	<h2>Norman Privacy Policy</h2>
            </div>
                                <div class="col-lg-12">
    <h4>         <p>
    We provide you the right and control over your personal information while visiting our website <b>https://www.norman.ai</b> and through our chatbot product, <b>Norman</b> irrespective of the communication channel / chat software eg. Slack, Microsoft Skype etc. We acknowledge that personal information, such as your name, e-mail address, telephone number, etc. are kept private and confidential. At some point during your visit, you may be required to give that information for internal purposes. Accordingly, the information you provide is stored in a secure location and it is only accessible by designated staff of CollateBox.
    </p>
    <p>
    By accessing the Service (as defined below), you accept this Privacy Policy and you expressly consent to our use and disclosure of your personal information in the manner described in this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Services.
    </p>
    <p>
    <b>The Information We Collect and Store</b>
    </p>
    <p>
    We may collect and store the following information when running the <b>Norman</b> Service:
    </p>
    <p>Information You Provide. When you register an account, we collect some personal information, such as your name, phone number, third party billing information (eg. Paypal account id), email address and home and business postal addresses (collectively, your "Personal Information"). You may also ask us to import your contacts by giving us access to your third party services (for example, your email account) or to use your social networking information if you give us access to your account on social network connection services (inclusive of chat platforms). You may also provide us with your contacts' email addresses when sharing data with them.</p>
    <p>Data: We collect and store the data you copy/paste, upload, link to, download, or access with the <b>Norman</b> Service ("Data") . If you add data to your <b>Norman</b> that has been previously uploaded by you or another user, we may associate all or a portion of the previous data with your account rather than storing a duplicate.</p>
    <p>Log Data: When you use the Service, we automatically record information from your Device, its software, and your activity using the Services. This may include the Device's Internet Protocol ("IP") address, browser type, the web page visited before you came to our website, information you search for on our website, locale preferences, identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with transactions, system configuration information, metadata concerning your Data, and other interactions with the Service.</p>
    <p>Notifications: When you share data and use the service collectively within your network, we automatically record information from your Device, its software, and your activity using the Services and share it with our registered third party notification service partners. This may include Profile information, Device's Internet Protocol ("IP") address, browser type and time stamps associated with usage and system configuration information, metadata concerning your Data, and other interactions with the Service. These notifications are currently delivered via email and mobile text messages.</p>
    <p>Cookies: We also use "cookies" to collect information and improve our Services. A cookie is a small data file that we transfer to your Device. We may use "persistent cookies" to save your registration ID and login password for future logins to the Service. We may use "session ID cookies" to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage and web traffic routing on the Service. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all aspects of the Service.</p>
    <p>
        <b>How We Use Your Personal Information</b>

    </p>
    <p>We may use and disclose your Personal Information only as follows:</p>
    <p><b>To enforce compliance with our Terms of Use and applicable law.</b> This may include developing tools and algorithms that help us prevent violations.</p>
    <p><b>To provide customer support.</b></p>
    <p><b>To protect the rights and safety of our Members and third parties, as well as our own.</b></p>
    <p><b>To meet legal requirements</b> like complying with court orders and valid subpoenas.</p>
    <p><b>To provide information to representatives and advisors</b>, like attorneys and accountants,</p>
    <p><b>To prosecute and defend a court, arbitration, or similar proceeding.</b></p>
    <p><b>To communicate with you about your account</b> for informational, not promotional, reasons. </p>
    <p><b>To transfer your information</b>in the case of a sale, merger, consolidation, or acquisition. In that event, any acquirer will be subject to our obligations under this Privacy Policy, including your rights to access and choice. We will notify you of the change either by sending you an email or posting a notice on our Web site.</p>
    <p><b>To send you informational and promotional content that you may choose (or "opt in") to receive.</b> You can stop receiving our promotional emails by following the unsubscribe instructions included in every email.</p>
    <p><b>To develop reports </b> related to bot application usage;</p>
    <p><b>To calculate user sentiment</b> and display reports of your users' sentiment;</p>
    <p><b>To personalize your <b>Norman</b> experience</b> (your information helps us to better serve individual needs);</p>
    <p><b>To provide our services or information you request</b> and to process and complete any transactions;</p>
    <p><b>To respond to your emails</b>, submissions, questions, comments, requests, and complaints and provide customer service;</p>
    <p><b>To monitor and analyze usage and trends</b>, and to personalize and improve <b>Norman</b> and your experiences when <b>Norman</b> is used, such as providing content, advertisements or features that match your users' profile or interests, and to increase the functionality and user friendliness of our services;</p>
    <p><b>To develop and display content</b> and advertising tailored to your and your users' interests.</p>
    <p><b>To perform functions</b> as otherwise described to you and/or your users at the time of collection.</p>
    <p><b>When you give us your consent to do so</b>, including if we notify you that the information you provide will be shared in a particular manner and you provide such information;</p>
    <p><b>In connection with, or during negotiations</b> of, any merger, sale of company assets, financing or acquisition, or in any other situation where personal information may be disclosed or transferred as one of our business assets.</p>
    <p><b>We are not responsible for the actions of service providers or other third parties, nor are we responsible for any additional information you provide directly to any third parties.</b></p>
    <p><b>Credit Card Security</b></p>
    <p>We use third-party payment processors eg. Paypal (the "Payment Processors") to bill you through a payment account linked to your Account on the Services (your "Billing Account") for use of the paid Services. The processing of payments will be subject to the terms, conditions and privacy policies of the Payment Processors in addition to this Agreement. We are not responsible for error by the Payment Processors. By choosing to use paid Services, you agree to pay us, through the Payment Processors, all charges at the prices then in effect for any use of such paid Services in accordance with the applicable payment terms and you authorize us, through the Payment Processors, to charge your chosen payment provider (your "Payment Method"). You agree to make payment using that selected Payment Method. We reserve the right to correct any errors or mistakes that it makes even if it has already requested or received payment.</p>
    <p><b>Copyright</b></p>
    <p>All content included in or made available through CollateBox and <b>Norman</b>, such as text, graphics, logos, button icons, images, digital downloads, and data compilations is the property of CollateBox or its content suppliers and protected by United States and international copyright laws.</p>
    <p><b>Changing or Deleting Your Information</b></p>
    <p>If you are a registered user, you may review, update, correct or delete the Personal Information provided in your registration or account profile by changing your  appropriate "account settings" within your chat software. The account deletion capability is not available as of now. In some cases we may retain copies of your information if required by law.</p>
    <p><b>Data Retention</b></p>
    <p>Our Service offers publicly accessible community services such as blogs and public forums. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. Your posts may remain even after you cancel your account.</p>
    <p><b>Security</b></p>
    <p>The security of your information is important to us. When you enter sensitive information (such as a credit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL).
    We follow generally accepted standards to protect the information submitted to us, both during transmission and once we receive it. No method of electronic transmission or storage is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our website, you can contact us at support (at) <b>Norman</b>.ai
    </p>
    <p><b>Our Policy toward Children</b></p>
    <p>Our Services are not directed to persons under 13. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at support@<b>Norman</b>.ai. If we become aware that a child under 13 has provided us with Personal Information, we will take steps to delete such information from our files.</p>
    <p><b>California Privacy Rights</b></p>
    <p>California Civil Code Section 1798.83, entitles California customers to request information relating to whether a business has disclosed personal information to any third parties for the third parties direct marketing purposes. As explained elsewhere in this Privacy Policy, we will not sell or transfer your personal information to third party companies for their direct marketing purposes without your consent. California customers who wish to request further information about our compliance with this statute or who have questions may contact us at support@<b>Norman</b>.ai</p>
    <p><b>Contacting Us</b></p>
    <p>If you have any questions about this Privacy Policy, please contact us at support (at) <b>Norman</b>.ai.</p>
        <p><b>Changes to our Privacy Policy</b></p>
        <p>This Privacy Policy may change from time to time. If we make a change to this privacy policy that we believe materially reduces your rights, we will provide you with notice (for example, by posting the modified policy on the site, at the time of <b>Norman</b> usage, by email etc). And we may provide notice of changes in other circumstances as well. By continuing to use the Service after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
    </div>

        </div>

        <div class="outer-box clearfix">
        	<!--Content Column-->
            <div class="content-column">
            	<div class="clearfix">
                	<div class="content-box">
                    	<!--Accordion Box-->
                    </div>
                </div>
            </div>
        </div>

    </section>


{% include 'footer.html' %}
