{% include 'header.html' %}

<section style=" height:0%;" class="main-slider" id="banner">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/medical-image.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{{ url_for('static', filename='landing/images/medical-image.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                     <div class="tp-caption sfl sfb tp-resizeme col-sm-12 col-xs-12"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="30"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">
                    <h2 style="text-align-all:center;" class="text-center">Single hospital Name</h2>
                </div></div>
                    </li>
                </ul>

            </div>
        </div>
    </section>
  	<!--End Main Slider-->


     <!--Contact Section-->
    <section class="contact-section" id="contact-section">


    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Hospital Name</h3>
                        <!--Contact Form-->
                        <div class="default-form contact-form">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </div>

                 <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h3>Hospital Details</h3>
                        <div class="text"></div>
                        <ul class="contact-info">
                        	<li><div class="icon"><span class="lnr lnr-map-marker"></span></div>   Obafemi Awolowo University teaching hospital.</li>
                            <li><div class="icon"><span class="lnr lnr-phone-handset"></span></div> (+234) 9036671876</li>
                            <li><div class="icon"><span class="lnr lnr-envelope"></span></div> hellohos@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% include 'footer.html' %}